@import '~bootstrap/scss/bootstrap';

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: black;
  text-decoration: none;
}

.center {
  text-align: center;
  color: #fff;
}

.jumbotron {
  background-image: url('/assets/photo.jpg');
  background-size: cover;
  border-radius: 0px;
}

.row {
  margin: 10px;
}

